.header {
  display: flex;
  padding: 20px;
  background-color: #f5ce79;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 26px;
}

.icons svg{
  margin: 6px;
  cursor: pointer;
}

.icons svg:hover{
  color: rgb(30, 115, 226);
}

.logoHeader {
  width: 200px;
  height: 60px;
}